body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
.container {
  width: 70%;
  margin: auto;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
header {
  background: #239023;
  color: #ffffff;
  padding-top: 20px;
  min-height: 60px;
  border-bottom: #000000 3px solid;
  position: fixed;
  width: 100%;
}
header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header #upperLeft a {
  color: #ffff00;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
}
header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}
header .highlight,
header .current a {
  color: #000000;
  font-weight: bold;
}
header a:hover {
  color: #cccccc;
  font-weight: bold;
}
/*.................footer................*/
footer {
  padding: 8px;
  margin-top: 8px;
  color: #239023;
  background-color: hsl(255, 255%, 255%);
  width: 100%;
  text-align: center;
}
footer a {
  color: #189e2e;
}
footer .Footer {
  float: left;
  text-align: center;
  padding: 1px;
  padding-left: 10%;
}
footer #FooterAboutUs {
  float: center;
  padding-left: 300px;
}

#showcase {
  min-height: 400px;

  background-position: center 220px;
  padding-top: 30px;
  text-align: left;
  color: #29a329;
}
#showcase h1 {
  margin-top: 100px;
  font-size: 45px;
  margin-bottom: 10px;
}
#showcase h5 {
  margin-top: 100px;
  font-size: 45px;
  margin-bottom: 10px;
}

/*..................Login&Signup................*/

#LoginSignupbar {
  padding-top: 0px;
}
aside#Signupbar {
  align-items: left;
  float: left;
  padding-right: 50px;
  width: 55%;
  margin-top: 150px;
  margin-bottom: 20px;
  border-right: #29a329 2px solid;
  background: #f7f7f7;
}
aside#Signupbar .contact input {
  width: 90%;
  padding: 5px;
  border: 0;
  background: #f7f7f7;
  border: #29a329 2px solid;
}
aside#Signupbar .HireNowBack2 {
  padding: 15px;
  background: 0;
  color: #000000;
  border-right: #29a329 2px solid;
  border-left: #29a329 3px solid;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}
.Signup {
  margin-top: 30px;
  margin-bottom: 10px;
  background: #29a329;
  padding: 15px;
  border: 0;
  color: #ffffff;
  margin-left: 70%;
}
aside#Signupbar label {
  text-transform: uppercase;
  font-size: 16px;
}

aside#Loginbar {
  align-items: right;
  float: right;
  padding-right: 10px;
  width: 25%;
  margin-top: 300px;
  margin-bottom: 20px;
  margin-left: 0px;
  background: 0000;
}
aside#Loginbar .contact input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
aside#Loginbar .HireNowBack2 {
  padding: 15px;
  background: 0;
  color: #000000;
  border-right: #29a329 2px solid;
  border-left: #29a329 3px solid;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 40px;
  padding-right: 30px;
}
aside#Loginbar .Login {
  margin-bottom: 0px;
  background: #29a329;
  padding: 15px;
  border: 0;
  color: #ffffff;
  margin-left: 70%;
}
aside#Loginbar label {
  text-transform: uppercase;
  font-size: 16px;
}
#LoginSignup#LoginSignupbar {
  align-items: left;
}
#LoginSignup#Loginbar {
  align-items: right;
}
#LoginSignupbar .highlight {
  color: #29a329;
  font-weight: bold;
}
